<p>
  <%= @question.content %>
</p>

<p>
  <strong>Response:</strong>
  <%= @question.response_id %>
</p>

<p>
created by <%= User.find(@question.creator_id).username %></p>
<p>
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
</p>