<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-body">
    <%= f.text_field :username, :class => 'field', :placeholder => 'username', autofocus: true %>

    <%= f.email_field :email, :class => 'field', :placeholder => 'email' %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <%= f.password_field :password, :class => 'field', :placeholder => 'new password (optional)',autocomplete: "off" %>

    <%= f.password_field :password_confirmation, :class => 'field', :placeholder => 'confirm new password', autocomplete: "off" %>

    <%= f.password_field :current_password, :class => 'field', :placeholder => 'current password (required)', autocomplete: "off" %>

    <div class="file">
      <%= f.label :change_avatar %><br />
      <%= f.file_field :user_image %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
    
<% end %>