<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-body">
    <%= f.text_field :username, :class => 'field', :placeholder => 'username', autofocus: true %>

    <%= f.email_field :email, :class => 'field', :placeholder => 'email (required)' %>

    <%= f.password_field :password, :class => 'field', :placeholder => 'password (required)',autocomplete: "off" %>

    <%= f.password_field :password_confirmation, :class => 'field', :placeholder => 'confirm password', autocomplete: "off" %>

    <div class="file">
      <%= f.label :upload_avatar %><br />
      <%= f.file_field :user_image %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Register" %>
  </div>
<% end %>