<div class="user">
  <div class="info">
  <% if !!@user.user_image.url %>
  <%= image_tag @user.user_image.detail.url %>
  <% end %>
  </div>
  <div class="list info">
    <% if current_user == @user %>
    <h2>Hi, <%= @user.username %></h2>
    <ul class="list">
      <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
      <li><%= link_to 'Edit Responses', bulk_edit_questions_path %></li>
      <li><%= link_to 'View All Users', users_path %></li>
        <% if current_user.is_admin %>
          <li><%= link_to 'View All Questions', questions_path %></li>
          <li><%= link_to 'New Release', new_release_path %></li>
        <% end %>
    </ul>
    <% else %>
    <h2><%= @user.username %></h2>
    <% if current_user.is_admin %>

      <%= form_for(@user) do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <p><%= f.check_box :is_admin %>Admin?<%= f.submit 'Save', :class => 'admin-toggle' %></p>
        
      <% end %>
    <% end %>

    <% end %>
  </div>
</div>
<div class="question-grid index-list">
  <ul>
    <% @user.questions_asked.each do |question| %>
      <li class="asked"><%= question.content %></li>
    <% end %>
    <% @user.questions_created.each do |question| %>
      <li><%= question.content %></li>
    <% end %>
  </ul>
</div>
