<p id="notice"><%= notice %></p>
<% if current_user == @user %>
<h2>Hi, <%= @user.username %></h2>
<%= link_to 'Edit Responses', bulk_edit_questions_path %> | 
<%= link_to 'Edit Login', edit_user_registration_path %>
<% else %>
<h2><%= @user.username %></h2>
<% end %>

<% if !!@user.user_image.url %>
<%= image_tag @user.user_image.detail.url %>
<% end %>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Logged in:</strong>
  <%= @user.logged_in? %>
</p>

<p>
  <strong>Is admin:</strong>
  <%= @user.is_admin %>
</p>

<% @responses.each do |question| %>
  <p><%= question.content %><br />
  <% if !!question.responses %>
    <% @asked = question.responses %>
    <% @asked.each do |question| %>
    <%= question.content %></p>
    <% end %>
  <% end %>
<% end %>

<% if current_user.is_admin %>
<%= link_to 'Edit Profile', edit_user_path(@user) %> |
<%= link_to 'View All Users', users_path %> | 
<%= link_to 'View All Questions', questions_path %> | 
<%= link_to 'New Release', new_release_path %>

<% end %>
