<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-body">
    <%= f.email_field :email, placeholder: 'email', :class => 'field', autofocus: true %>
    <%= f.password_field :password, placeholder: 'password', :class => 'field',autocomplete: "off" %>
  </div>
  <div class="actions">
    <%= f.submit "Log In" %>
  </div>
<% end %>
