<%= form_for(release) do |f| %>
  <% if release.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(release.errors.count, "error") %> prohibited this release from being saved:</h2>

      <ul>
      <% release.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-body">
    <%= f.text_field :catalog_number, :class => 'field', :placeholder => 'Catalog Number, e.g. [vpk001]' %>

    <%= f.text_field :artist, :class => 'field', :placeholder => 'Artist Name'%>

    <%= f.text_field :title, :class => 'field', :placeholder => 'Release Title' %>

    <%= f.text_area :description, :class => 'field autosize', :placeholder => 'Description' %>

    <div class="file">
      <%= f.label :upload_a_cover_image %><br />
      <%= f.file_field :release_art %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Submit' %>
  </div>
  
<% end %>
