<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @release.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @release.description %>
</p>

<p>
  <%= image_tag @release.release_art.detail.url %>
</p>
<% if current_user.is_admin %>
<%= link_to 'Edit', edit_release_path(@release) %> |
<%= link_to 'Destroy', @release, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
