<div class="detail">
  <p>
    <%= image_tag(@release.release_art.detail.url, :class => 'image-detail') %>
  </p>
  <div class="text-detail">
    <h2><%= @release.artist %>: <%= @release.title %></h2>
    <h3>[<%= @release.catalog_number %>]</h3>
    <p><%= markdown(@release.description) %></p> 
    <p></p>

    <% if !!current_user && current_user.is_admin %>
      <p>
      <%= link_to 'Edit', edit_release_path(@release) %> |
      <%= link_to 'Delete', @release, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    <% end %>
  </div>
</div>
