<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Vaporcake</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag   'application', 'http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto:100,300,400,500,700,900' %>
    <%= stylesheet_link_tag    'homepage', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main class="homepage">
      <div class="shader"></div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <div class="centered">
          <%= yield %> 
        </div>
    </main>
  </body>
</html>


